<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168611388654-0i1orcosviaj3h1m6u2nds3p0s6n5c0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168611388654-0i1orcosviaj3h1m6u2nds3p0s6n5c0b</string>
	<key>API_KEY</key>
	<string>AIzaSyDYHFVsf9Eeq8zTi-BCpUtqjU2PV81xw1I</string>
	<key>GCM_SENDER_ID</key>
	<string>168611388654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mine2424.goingHomeApp</string>
	<key>PROJECT_ID</key>
	<string>going-home-a47ce</string>
	<key>STORAGE_BUCKET</key>
	<string>going-home-a47ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168611388654:ios:e4ed59ae8c180d592227ff</string>
</dict>
</plist>